<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game of Thrones Cheat Sheet!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css" />
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">⚔️</span>
        <a href="/">Game of Thrones Cheat Sheet!</a>
      </h1>
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">

          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Landing Page</a></li>
            <li>
              {{#if logged_in}}
              <button class="no-button" id="logout">logout</button>
              {{else}}
               <a href="/login">Sign Up/Log In</a>
              {{/if}}
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active"><a href="#">Active</a></li>
                  <li><a href="#">Item</a></li>
                  <li><a href="#">Item</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Search Page</a></li>
            <li class="uk-active"><a href="#">Saved Features</a></li>
            <li class="uk-active">
              {{#if logged_in}}
              <a id="logout">logout</a>
              {{else}}
              <a href="/login">Sign Up/Log In</a>
              {{/if}}
            </li>
          </ul>
          </ul>
        </div>
      </nav>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
