<!-- Loop over each object in the projects array -->
{{!-- {{#each projects as |project| }} --}}
{{!-- Rough draft html template for landing page --}}
{{!-- Anything w/ uk in class is from UIKIT --}}
{{!-- Heading --}}
<h2 class="uk-heading-line uk-text-center"><span>Welcome to the Game of Thrones Cheat Sheet!</span></h2>

{{!-- this is a card that divides horizontally in half and on top displays demo gif of our searches, and on the bottom it prints an About Us section --}}
<div class="uk-child-width-1-2@m landing-card" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body">
      <div class="uk-card-media-top">
        <img src="06-server-side-apis-homework-demo.png" width="1800" height="1200" alt="">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">About Us</h3>
        <p> Struggling to keep everyone in Game of Thrones intact? We have a easy to use cheat sheet for
          you! You
          can find any character information in the show using their name or alias. You can search by
          house and
          book as well to pull information. If you have an account you are able to save your favorite
          characters
          and houses for easy access later on.
        </p>
      </div>
    </div>
  </div>
</div>
{{!-- button that leads user to the login/sign up site --}}
<div align="center">
  <button class="uk-button uk-button-secondary uk-button-large landing-submit-btn"> <a href="/login" class="btn-text">Click here to register and
    unlock the world of Game of Thrones</a></button>
</div>
{{!-- {{/each}} --}}
