<div align="center">
  <div>
    <h3 class="uk-heading-bullet">Saved Charecters</h3>

    <ul id="save-charecters">
      <li>Charecter 1</li>
    
    </ul>
  </div>

  <div>
    <h3 class="uk-heading-bullet">Saved House</h3>
    <ul id="save-houses">
      <li>Charecter 1</li>

    </ul>
  </div>


</div>
