{{!-- This rough draft html template will be split in half with the top being saved charecters and the bottom half being saved houses. We will be storing charecter and house info using a table from uikit. Inside table will be a short description and a button that opens a model with more info inside --}}
<div align="center">
  <div>
    <h3 class="uk-heading-bullet">Saved Charecters</h3>

    <ul id="save-charecters">
      {{!-- dummy info --}}
      <li>Charecter 1</li>
    
    </ul>
  </div>

  <div>
    <h3 class="uk-heading-bullet">Saved House</h3>
    <ul id="save-houses">
      {{!-- dummy info --}}
      <li>Charecter 1</li>

    </ul>
  </div>
</div>
