{{!-- This part is minimum, it will act as a main file that will store all of the partials information. --}}
<h2 class="uk-heading-line uk-text-center"><span> Returned Raven</span></h2>

<select name="" id="book-select">
    <option value=""></option>
</select>
<div id="root">
    
</div>



<form>
    <br>
    <h3>Search Character</h3>
  <input type="text" id="character-search-el" type="text">
  <button id="submit-btn-el"></button>
</form>

<div id="character-html">
    
</div>

<script src="/js/search.js"></script>
<script src="/js/script.js"></script>
