:root {
  --darkest: #3C2B1D;
  --dark: #5E4C39;
  --medium-dark: #5e4c399c;
  --medium: #A69D7B;
  --light: #D8C5A7;
  --lightest: #C7B497;
  background-color: var(--lightest);
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.uk-heading-line>* {
  display: inline-block;
  position: relative;
  color: var(--dark);
}

.uk-heading-line>::after,
.uk-heading-line>::before {
  content: "";
  position: absolute;
  top: calc(50% - (calc(0.2px + 0.05em)/ 2));
  width: 2000px;
  border-bottom: calc(0.2px + 0.05em) solid var(--dark);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}




/* main.handlebars */
.uk-background-height-1-1 {
  background-image: url(../Images/Cropped-GOT.jpg);
  /* background-color: #cccccc; */
  height: 300px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.uk-navbar-nav>li>a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--light);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--light) 0%, var(--light) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  border-bottom: solid 5px var(--dark);
}


.uk-navbar-nav>li>a:hover {
  background-size: 100% 100%;
  color: var(--dark);
  text-decoration-color: var(--dark);
}

.uk-navbar-container {
  margin-block-start: auto;

}

.uk-navbar-nav {
  background-color: var(--dark);
}

.uk-navbar-nav>li.uk-active>a {
  color: #91865d;
  color: bold;

}

h1 {
  margin-block-start: auto;
  color: var(--dark);
}

a {
  color: var(--dark);
}

h1 {
  color: var(--light);
}

h2 {
  font-size: 2rem;
  background-color: var(--medium);
  text-align: CENTER;
  border-radius: 10px;
}

h4 {
  font-size: 2rem;
  background-color: var(--medium);
  text-align: CENTER;
  border-radius: 10px;
}

.btn.btn-primary {
  background-color: var(--medium);
  color: #3C2B1D;
  border-radius: 10px;
}

.uk-grid>*>:last-child {
  background-color: var(--medium-dark);
}


/* landingPage.handlebars */
.landing-card {
  display: flex;
  justify-content: center;
}

.landing-submit-btn {
  margin-top: 10px;
  background-image: var(--medium);
  color: var(--darkest);
  border-color: var(--darkest);
  border-radius: 10px;
}

.btn-text {
  color: var(--darkest);
}

.uk-card-default {
  background-color: var(--light);
  color: var(--light);
  box-shadow: 0 5px 15px var(--dark);
}

.uk-card {
  background-color: var(--light);
}

.uk-card-default .uk-card-title {
  color: var(--dark);
  background-color: var(--lightest);
  text-align: center;
  border-radius: 10px;
}

.uk-card-default :hover {
  background-color: var(--medium);
}

.uk-card-default .uk-card-header {
  border-bottom: 1px solid var(--light);
}

/* searchByResults */
.character-search {
  display: flex;
  flex-wrap: nowrap;
}

.uk-button {
  background-color: var(--medium);
}

.uk-card-default {
  background-color: var(--medium-dark);
  padding: 30px;
}

.uk-margin {
  background-color: var(--light);
}

.uk-form-label {
  background-color: var(--light);
}

.uk-heading-divider {
  color: var(--dark);
  padding-bottom: calc(5px + 0.1em);
  border-bottom: calc(0.2px + 0.05em) solid var(--dark);
}

/* login/logout */
[class*='col-'] {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  background-color: var(--medium-dark);
}